<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<head>
    <meta charset="UTF-8"/>
    <title>系统管理</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"
          href="../static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/bootstrap/css/fontawesome-all.min.css"
          th:href="@{/bootstrap/css/fontawesome-all.min.css}"/>
</head>
<body>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark navbar-fixed-top">
    <span class="navbar-brand" href="#">
        <span class="fa fa-home fa-fw"></span><span class="ml-1">绩效考核系统</span></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="navbar-nav">
            <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <div class="navbar-nav" sec:authorize="isAuthenticated()">
                <!--<span class="navbar-text" sec:authentication="name"></span>-->
                <!--<span sec:authentication="principal.authorities"></span>-->
                <span class="navbar-text" th:text="${deptName} "></span>
                <span class="navbar-text" th:text="${groupName} "></span>
                <span class="navbar-text" th:text="${roleName} "></span>
                <!--span class="nav-item">
                    <a class="nav-link" th:href="@{/login?logout}">退出</a>
                </span-->
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-user-tie fa-fw"></span>
                    <!--<span sec:authentication="name"></span>-->
                    <span th:text="${userRealName}"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">修改密码</a>
                    <!--<a class="dropdown-item" href="#">Another action</a>-->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/login?logout}">退出</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>