<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--<title>Login page</title>-->
<!--<meta charset="utf-8"/>-->
<!--<link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}"/>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Login page</h1>-->
<!--<p>Example user: user / password</p>-->
<!--<p th:if="${loginError}" class="error">Wrong user or password</p>-->
<!--<form th:action="@{/login}" method="post">-->
<!--<label for="username">Username</label>:-->
<!--<input type="text" id="username" name="username" autofocus="autofocus"/> <br/>-->
<!--<label for="password">Password</label>:-->
<!--<input type="password" id="password" name="password"/> <br/>-->
<!--<input type="checkbox" name="remember-me"/> Remember me<br/>-->
<!--<input type="submit" value="Log in"/>-->
<!--</form>-->
<!--<p><a href="/index" th:href="@{/index}">Back to home page</a></p>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户注册</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/bootstrap/css/fontawesome-all.min.css" th:href="@{/bootstrap/css/fontawesome-all.min.css}"/>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>

<body>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
<div class="container">
    <div class="row justify-content-center align-items-center h-100">
        <form th:action="@{/login}" method="post" class="form-control shadow-lg p-5 mb-5 bg-white rounded col-md-5 align-items-center">
            <div>
                <h4 class="text-center mb-4">用户注册</h4></div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><span class="fa fa-user"></span></span>
                        <!--<div class="input-group-text font-weight-bold">用户名：</div>-->
                    </div>
                    <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名" autofocus>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><span class="fa fa-lock"></span></span>
                        <!--<div class="input-group-text font-weight-bold">密码：</div>-->
                    </div>
                    <input type="password" class="form-control" id="pwd0" name="pwd0" placeholder="请输入密码">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><span class="fa fa-lock"></span></span>
                        <!--<div class="input-group-text font-weight-bold">确认密码：</div>-->
                    </div>
                    <input type="password" class="form-control" id="pwd1" name="pwd1" placeholder="请再次输入密码">
                </div>
            </div>
            <div class="form-group form-check align-items-center">
                <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
                <label class="form-check-label" for="remember-me">记住我</label>
                <p th:if="${loginError}" class="error">Wrong user or password</p>
            </div>
            <div class="row justify-content-around">
                <button class="btn btn-primary col-md-2 m-1">注册</button>
                <button type="submit" class="btn btn-success col-md-8 m-1">登录</button>
            </div>
        </form>
    </div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/js/jquery-3.3.1.slim.min.js" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/js/script.js" th:src="@{/js/script.js}" charset="utf-8"></script>
</body>
</html>
