<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户注册</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>

<body>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
<!-- OK Modal -->
<div class="modal fade mb-5" id="loginOKModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="oKModalCenterTitle">提示：</h5>
            </div>
            <div class="modal-body">
                <img th:src="@{/images/regOk.png}" src="../static/images/regOk.png" class="regimg" alt=""><span
                    class="ml-4">恭喜你，注册成功！</span>
            </div>
            <div class="modal-footer">
                <!--<button class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <a class="btn btn-success" th:href="@{/loginWith(userName=${userName})}">立即登录</a>
                <!--<a class="btn btn-success" th:href="@{'/login/'+ ${userName}}">立即登录</a>-->
            </div>
        </div>
    </div>
</div>
<!-- Fail Modal -->
<div class="modal fade mb-5" id="loginFailModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="failModalCenterTitle">提示：</h5>
            </div>
            <div class="modal-body">
                <img th:src="@{/images/regFail.png}" src="../static/images/regFail.png" class="regimg" alt=""><span
                    class="ml-4" th:text="'用户名：' + ${userName} + ' 刚刚被注册了，请重新注册！'"></span>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success" href="javascript:history.go(-1);">重新注册</a>
            </div>
        </div>
    </div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var regStatus = [[${regStatus}]];
    console.log(regStatus);
    console.log([[${userName}]]);
    if (regStatus == true) {
        console.log("loginOKModal");
        $('#loginOKModal').modal({
            backdrop: "static",
            keyboard: false
        });
        $('#loginOKModal').modal('show');
    } else {
        console.log("loginFailModal");
        $('#loginFailModal').modal({
            backdrop: "static",
            keyboard: false
        });
        $('#loginFailModal').modal('show');
    }
    /*]]>*/
</script>
</body>
</html>
